<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home|Sudoku</title>
    <script src="https://kit.fontawesome.com/d5201e01cb.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/base.css">
    <script src="../static/javascript/play.js" defer></script>
    <script src="../static/javascript/base.js" defer></script>

</head>

<body>

    <header>
        <a><img src="../static/assets/textLogo.png" alt="" class="cod"></a>
        <div class="menuIcon"><i class="fa-solid fa-bars fa-2xl"></i></div>

        <ul class="topbar">
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('main.index') }}" class="btn" >
                Home
            </a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.dashboard') }}" class="btn">
                Dashboard
            </a></li>
            {% endif %}
            <li><a href="{{ url_for('main.rules') }}" class="btn">
                Rules
            </a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}" class="btn">
                Logout
            </a></li>
            {% endif %}
            <li>
                <a class="dark-mode-toggle btn" id="dark-mode-toggle">
                    <i class="bx bxs-moon"></i>
                    <i class="bx bxs-sun"></i>
                    
                </a>
            </li>
        </ul>
    </header>

               {% block content %}
               {% endblock %}
</body>

</html>