{% extends "base.html" %}

{% block content %}
<!-- <div class="container"> -->
  <section class="dashboard">
    <div class="welcome">
      <h2 class="welcomeText">WELCOME 
        <span class="pageHeading ruleHeading username">
        {{ name }}
        </span>
        Email : {{ email }}
      </h2>
      <div class="totalGames"> Total Games Played : {{ totalGamesPlayed }}</div>
    </div>


    
  <div class="scoreContainer">
    <div class="scoreBox">
      <h1 class="modeName">EASY</h1>
      <p class="bestScore">BEST SCORE : <span> {{ bestScoreEasy }}</span> <br> GAMES PLAYED : <span>{{ gamesPlayedEasy }}</span></p>
    </div>
    <div class="scoreBox">
      <h1 class="modeName">MEDIUM</h1>
      <p class="bestScore">BEST SCORE : <span> {{ bestScoreMedium }}</span> <br> GAMES PLAYED : <span>{{ gamesPlayedMedium }}</span></p>
    </div>
    <div class="scoreBox">
      <h1 class="modeName">HARD</h1>
      <p class="bestScore">BEST SCORE : <span> {{ bestScoreHard }}</span> <br> GAMES PLAYED : <span>{{ gamesPlayedHard }}</span></p>
    </div>
  </div>
  <div class="scoreContainer playContainer">
    <a href="{{ url_for('main.easyStats') }}" >
      <div class="scoreBox">View Full Stats</div>
    </a>
    <a href="{{ url_for('main.play') }}" >
      <div class="scoreBox">Play New Game</div>
    </a>
  </div>

  <div class="social">
    <div class="social-media"><a href="https://twitter.com/share?url=http://127.0.0.1:5000/dashboard&text='Hello everyone, please check my best scores of Sudoku !!!'" class="twitter-btn"><i class="fa-brands fa-twitter fa-2x"></i></a></div>
    <div class="social-media"><a href="https://www.facebook.com/sharer.php?u=http://127.0.0.1:5000/dashboard" class="fb-btn"><i class="fa-brands fa-facebook fa-2x"></i></a></div>
    <div class="social-media"><a href="https://www.linkedin.com/shareArticle?url=http://127.0.0.1:5000/dashboard&title='Hello everyone, please check my best scores of Sudoku !!!'" class="linkedin-btn"><i class="fa-brands fa-linkedin fa-2x"></i></a></div>
    <div class="social-media"><a href="https://api.whatsapp.com/send?text=http://127.0.0.1:5000/dashboard 'Hello everyone, please check my best scores of Sudoku !!!'" class="whatsapp-btn"><i class="fa-brands fa-whatsapp fa-2x"></i></a></div>
</div>


</section>


<!-- </div> -->
{% endblock %}