{% extends "base.html" %}

{% block content %}
<!-- <div class="container"> -->
  <section>
  <div class="welcome">
    <h1 class="welcomeText">WELCOME</h1>
    <h1 class="pageHeading ruleHeading username">
      {{ name }}
    </h1>
  </div>
    
  <h1>
      Top score : {{ bestScore//60 }} mins {{ bestScore%60 }} seconds
  </h1>

  <div class="buttons" id="playNow">
    <!-- <div class="work-exp"> -->
      <!-- <div class="work-exp" onclick="playOption()" >Play Now</div> -->
      <a href="{{ url_for('main.play') }}" class="work-exp" onclick="playOption()" >Play Now</a>
    <!-- </div> -->
</div>
</section>


<!-- </div> -->
{% endblock %}