<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- mobile status bar color -->
    <meta name="theme-color" content="#fff">
    <title>Sudoku</title>
    <!-- <link rel="shortcut icon" href="./static/images/icon.png" type="image/x-icon"> -->
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- app css -->
    
    <link rel="stylesheet" href="../static/styles/play.css">

    <script src="https://kit.fontawesome.com/d5201e01cb.js" crossorigin="anonymous"></script>

    <script src="../static/javascript/constant.js" defer></script>
    <script src="../static/javascript/sudoku.js" defer></script>
    <script src="../static/javascript/play.js" defer></script>
    <script src="../static/javascript/base.js" defer></script>

</head>

<body>

    <!-- top nav -->
    <header>
        <a><img src="../static/assets/textLogo.png" alt="" class="cod"></a>
        <div class="menuIcon"><i class="fa-solid fa-bars fa-2xl"></i></div>

        <ul class="topbar">
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('main.index') }}" class="btn">
                Home
            </a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.dashboard') }}" class="btn">
                Dashboard
            </a></li>
            {% endif %}
            <li><a href="{{ url_for('main.rules') }}" class="btn">
                Rules
            </a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.profile') }}" class="btn">
                Profile
            </a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="btn">
                Logout
            </a></li>
            {% endif %}
            <!-- <li><a><img src="../static/assets/sun.png" alt="" id="mode"></a></li> -->
            <li>
                <a class="dark-mode-toggle btn" id="dark-mode-toggle">
                    <i class="bx bxs-sun"></i>
                    <i class="bx bxs-moon"></i>
                </a>
            </li>
        </ul>
    </header>

    <!-- end top nav -->

    <!-- main -->
    <div class="main">
        <div class="screen">
            <!-- start screen -->
            <div class="start-screen active" id="start-screen">
                <!-- <input type="text" placeholder="Your name" maxlength="11" class="input-name" id="input-name"> -->
                <div class="btn" id="btn-level">
                    Easy
                </div>
                <div class="btn" id="btn-continue">Continue</div>
                <div class="btn btn-blue" id="btn-play">New game</div>
                
            </div>
            <!-- end start screen -->

            <!-- game screen -->
            <div class="main-game" id="game-screen">
                <div class="main-sudoku-grid">
                    <!-- 81 cells -->
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                    <div class="main-grid-cell"></div>
                </div>

                <div class="main-game-info">
                    <div class="main-game-info-box main-game-info-time">
                        <span id="game-time">10:20</span>
                        <div class="pause-btn" id="btn-pause">
                            <i class="bx bx-pause"></i>
                        </div>
                    </div>
                    <div class="main-game-info-box main-game-info-level">
                        <span id="game-level">Easy</span>
                    </div>
                </div>

                <!-- <div class="main-game-info-box main-game-info-time">
                    <span id="game-time">10:20</span>
                    <div class="pause-btn" id="btn-pause">
                        <i class="bx bx-pause"></i>
                    </div>
                </div> -->

                <div class="numbers">
                    <div class="number">1</div>
                    <div class="number">2</div>
                    <div class="number">3</div>
                    <div class="number">4</div>
                    <div class="number">5</div>
                    <div class="number">6</div>
                    <div class="number">7</div>
                    <div class="number">8</div>
                    <div class="number">9</div>
                    <div class="delete" id="btn-delete">X</div>
                </div>
            </div>
            <!-- end game screen -->

            <!-- pause screen -->
            <div class="pause-screen" id="pause-screen">
                <div class="btn btn-blue" id="btn-resume">Resume</div>
                <div class="btn" id="btn-new-game">New game</div>
            </div>
            <!-- end pause screen -->

            <!-- result screen -->
            <div class="result-screen" id="result-screen">
                <div class="congrate">Completed</div>
                <div class="info">Time</div>
                <div id="result-time"></div>
                <div class="btn" id="btn-new-game-2">New game</div>
                <div class="btn">
                    <form method="POST" action="/upload">
                            <button class="button">Dashboard</button>    
                    </form>
                </div>
            </div>
            <!-- end result screen -->
        </div>
    </div>
    <!-- end main -->

</body>

</html>